/**
 * Place your custom CSS styles here.
 **/
#buttonHolder {
    position: fixed;
    left: 0px;
    bottom: 0px;

}

.testButton {
    width: 200px;
    height: 50px;
    background-color: lightblue;
    border-radius: 2px;
}

#shoppingCart {
    background-color: #F5F5F5; 
    border-color: #E0DDDA;
    padding: 10px;
}
#shoppingCart h1 {
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
}
#shoppingCart #itemCount {
    font-size: 1.5em;
    font-weight: bold;
}
#shoppingCart #totalCost {
    display: block;
    font-size: 1.2em;
}
#shoppingCart table {
    border-collapse: separate; /* allow spacing between cell borders */
    border-spacing: 0 4px; /* NOTE: syntax is <horizontal value> <vertical value> */
}
#shoppingCart table tr td {
    padding: 4px;
    cursor: pointer;
}

/* Region: Border radius on cart item */
#shoppingCart table tr td:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#shoppingCart table tr td:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* Endregion */

.cartItem {
    background-color: white; 
    margin: 2px;
    border: 2px solid #888888;
    border-radius: 4px;
    box-shadow: 0 2px 2px 1px #AAAAAA;    
}
/* Region: Image preview */
.cartItem .hover_img_container {  
    display: none; 
    position: relative;
    z-index:99;
}
.cartItem:hover .hover_img_container {
    display: block; /* reveal (none -> block) */
}
.cartItem .hover_img_border {
    display: block;
    position: absolute;
    top: -180px;    /* -(child-img-height - cart-item-height/2) */
    left: 10px;     /* 2x border-wdith */
    border: 2px solid rgba(0,0,0,0.5);  
    border-radius: 5px 5px 5px 0px;
}
.cartItem .hover_img_border:after {
    content: "";
    position: absolute;
    
    bottom: 0;
    left: 0;
    margin-bottom: -2px;  /* -(parent border-width) Note: Box-sizing does not help */
    margin-left: -10px;  /* -2x border-width */
    
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 #555 transparent;
}
.cartItem .hover_img_border img {
    display: block; /* removes spacing on bottom of img */
    height: 200px;
}
/* Endregion */


.cartIcon {
    width: 25px;
    height: 25px;
}
.invalidSession {
    filter: grayscale(100%);
}

.addToCartBtn {
    float: left;
    margin-left: 20px;
    width: 22px;
    height: 22px;
}